h1{
    color: #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h2{
    color: #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  body{
    background-color: rgba(201, 204, 26, 0.637);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10rem;
  }
  nav{
    background-color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .nav-link{
    color: #fff;
  }
  .nav-link:hover{
    color: #ff6600;
  }
  .dropdown-menu{
    background-color: rgba(201, 204, 26, 0.637);
    text-align: center;
  }
  .dropdown-item:hover{
    background-color: rgba(223, 226, 44, 0.685);
  }
  .navbar-toggler{
    background-color: #fff;
  }
  .card{
    width: 35%;
    position: relative;
    left: 30rem;
    border-radius: 0.4rem;
  }
  .card-title{
    text-align: center;
  }
  .btn-dark,a{
    text-decoration: none;
    color: #000000;
  }
  .btn-dark{
    background-color: rgba(224, 227, 14, 0.637);
  }
  .btn-dark:hover{
    background-color:  rgba(201, 204, 26, 0.637);
  }
  
  
  footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-text{
      font-size: small;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    ul li {
      display: inline-block;
      margin-right: 20px;
    }
    
    ul li:last-child {
      margin-right: 0;
    }
    
    ul li a {
      color: #fff;
      text-decoration: none;
    }
    ul li a:hover {
      color: #ff6600;
    }

    .image-container {
        position: relative;
        overflow: hidden;
    }
    
    .slider {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }
    
    .slide {
        flex: 0 0 100%;
    }
    
    .slide img {
        max-width: 100%;
        height: auto;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    .arrows {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    .arrow {
        font-size: 30px;
        cursor: pointer;
        margin: 0 10px;
    }
    
    #slide1:checked ~ .slider {
        transform: translateX(0%);
    }
    
    #slide2:checked ~ .slider {
        transform: translateX(-100%);
    }
    
    #slide3:checked ~ .slider {
        transform: translateX(-200%);
    }